header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  padding: 10px;
  z-index: 10;
  transition: all ease-in 0.2s;
}

.backgroundTop {
  background-color: transparent;
}

.backgroundScroll {
  background-color: rgba(105, 124, 165, 0.3);
}

.header-box {
  display: flex;
  width: 1190px;
  width: 100%;
  padding: 0px 0px 0px 10px;
  justify-content: space-between; /*양끝정렬*/
  align-items: center; /*세로 중앙정렬*/
}

.logo {
  margin: 0px;
}

.logo img {
  width: 60px;
  height: 60px;
  padding: 10px;
  object-fit: contain;
  transition: all ease 0.1s;
}

.logo img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.header-nav {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px;
}

.header-nav a {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
  padding: 10px;
  transition: all ease 0.1s;
  font-size: 16px;
}

.header-nav a:hover {
  color: #7a93cc;
  cursor: pointer;
}

/*vertical line*/
.vertical-line {
  width: 1px;
  height: 20px;
  border: 1px solid #a7adb3;
  margin-left: 20px;
}

/*my page icon (google font icon)*/
.bi-person-square {
  color: white;
  font-size: 25px;
  transition: all ease 0.1s;
}

.bi-person-square:hover {
  text-shadow: none;
  color: #7a93cc;
}

/*login, logout icon (in header)*/
.header-nav a:nth-child(7),
.header-nav a:nth-child(8) {
  color: white;
  background-color: #2756bc;
  height: 35px;
  border-radius: 20px;
  margin-left: 30px;
}

.header-nav a:nth-child(7):hover,
.header-nav a:nth-child(8):hover {
  text-shadow: none;
  background-color: #4270d3;
}
